{
  "action": "actions",
  "list": [
    {
      "action": "loop",
      "count": 10,
      "body": [
        {
          "action": "option",
          "options": [
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/animations/teslabolt/teslabolt.animation",
                "layer": "front",
                "fullbright": true,
                "size": 0.5,
                "timeToLive": 0.45,
                "approach": [ 0.5, 0.5 ],
                "variance": {
                  "position": [ 3, 3 ],
                  "initialVelocity": [ 10, 10 ],
                  "timeToLive": 0.15,
                  "rotation": 180
                }
              }
            },
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/pat/batman/particles/smallbolt.animation",
                "layer": "front",
                "fullbright": true,
                "size": 0.5,
                "timeToLive": 0.2,
                "approach": [ 0.5, 0.5 ],
                "variance": {
                  "position": [ 3, 3 ],
                  "initialVelocity": [ 10, 10 ],
                  "size": 0.15,
                  "rotation": 180
                }
              }
            },
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/pat/batman/particles/bolt.animation",
                "layer": "front",
                "fullbright": true,
                "size": 0.5,
                "timeToLive": 0.2,
                "approach": [ 0.5, 0.5 ],
                "variance": {
                  "position": [ 4, 4 ],
                  "initialVelocity": [ 10, 10 ],
                  "size": 0.15,
                  "rotation": 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action": "loop",
      "count": 24,
      "body": [
        {
          "action": "particle",
          "rotate": true,
          "specification": "pat_batman_chargestreak"
        }
      ]
    },
    {
      "action": "particle",
      "specification": {
        "type": "ember",
        "color": "#FFF0",
        "light": [ 37, 98, 208 ],
        "fade": 3,
        "timeToLive": 0.3
      }
    },
    {
      "action": "sound",
      "options": [ "/sfx/gun/grenadeblast_electric1.ogg", "/sfx/gun/grenadeblast_electric2.ogg", "/sfx/gun/grenadeblast_electric3.ogg" ]
    }
  ]
}
